<div class="paginator">
  <button
    class="secondary"
    type="button"
    [disabled]="page===1"
    (click)="onGoToPage(1)"
  >
    <<
  </button>
  <button
    class="secondary"
    type="button"
    [disabled]="page===1"
    (click)="onPreviousPage()"
  >
    <
  </button>
  <div class="numbers">
    @for(page of leftButtons; track page) {
      <button
        class="secondary"
        type="button"
        (click)="onGoToPage(page)"
      >
        {{page}}
      </button>
    }
    <button
      class="primary"
      type="button"
    >
      {{page}}
    </button>
    @for(page of rightButtons; track page) {
      <button
        class="secondary"
        type="button"
        (click)="onGoToPage(page)"
      >
        {{page}}
      </button>
    }
  </div>
  <button
    class="secondary"
    type="button"
    [disabled]="page===totalPages"
    (click)="onNextPage()"
  >
    >
  </button>
  <button
    class="secondary"
    type="button"
    [disabled]="page===totalPages"
    (click)="onGoToPage(totalPages)"
  >
    >>
  </button>
</div> 
