@import '../../../../styles/variables';

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 16px;

  .title {
    font-weight: bold;
    color: $primary;
  }

  .error {
    color: rgb(226, 81, 81);
  }
}

.button {
  visibility: hidden;
}