@import '../../../../styles/variables';

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 4px;

  @include respond-to('mobile') {
    justify-content: flex-start;
  }

  .section {
    display: flex;
    flex-direction: column;
    gap: 4px;
    border-bottom: 1px solid #e5e7eb;
    padding-bottom: 8px;
    padding-top: 8px;
    color: $primary;

    &.header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .close-button {
        border: 1px solid $primary;
        color: $primary;

        @include respond-to('tablet') {
          display: none;
        }
      }
    }

    .title {
      font-weight: bold;
    }

    .content-checkbox {
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        margin-right: 8px;
      }
    }
  }

  .footer {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    @include respond-to('mobile') {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}