<form 
  class="form"
  [formGroup]="form"
  (ngSubmit)="onSubmit()"
>
  <section>
    <section class="section header">
      <span class="title">FILTERS</span>
      <button
        data-testid="btn-close"
        type="button"
        class="close-button"
        (click)="onClose()"
      >
        <span class="sr-only">X</span>
      </button>
    </section>
    <section class="section">
      <label
        for="name"
        class="title"
      >
        Name
      </label>
      <input
        class=""
        type="text"
        name="name"
        formControlName="name"
        placeholder="Filter by name"
        autocomplete="off"
      />
    </section>
    <section class="section">
      <label
        class="title"
        for="floor"
      >
        Floors
      </label>
      @for(floor of [1,2,3,4,5]; track floor) {
        <section class="content-checkbox">
          <input
            class=""
            type="checkbox"
            [name]="'floor' + floor"
            [formControlName]="'floor' + floor"
          />
          <label
            for=""
            class=""
          >
            Floor {{ floor }} 
          </label>
        </section>
      }
    </section>
    <section class="section">
      <label
        for="capacity"
        class="title"
      >
        Capacity
      </label>
      <section class="content-input-range">
        <input 
          #capacity
          class="" 
          type="range" 
          name="capacity"
          formControlName="capacity"
          min="2" 
          max="30"
          step="1"
        />
        <section class="caption-content">
          <span class="">Min (2)</span>
          <span class="">{{capacity.value}}</span>
          <span class="">Max (30)</span>
        </section>
      </section>
    </section>
    <section class="section">
      <label
        for="occupancy"
        class="title"
      >
        Occupancy
      </label>
      <div class="content-input-range">
        <input 
          #occupancy
          class="" 
          type="range" 
          name="occupancy"
          formControlName="occupancy"
          min="0" 
          max="30"
          step="1"
        />
        <section class="caption-content">
          <span>Min (0)</span>
          <span>{{occupancy.value}}</span>
          <span>Max (30)</span>
        </section>
      </div>
    </section>
  </section>
  <section class="footer">
    <button
      data-testid="btn-reset"
      class="secondary"
      type="button" 
      (click)="onReset()"
    >
      Clear
    </button>
    <button 
      class="primary"
      type="submit" 
    >
      Filter
    </button>
  </section>
</form>