@import '../../../../styles/variables';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;

  @include respond-to('tablet') {
    flex-direction: row;
    max-width: 1250px;
    margin: auto;
    padding: 16px;
  }

  .panel {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: map-get($colors, secondary);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    border-radius: 0px;
    border: 1px solid $primary;
    z-index: 2;
    display: none;

    &.visible {
      display: block;
    }

    @include respond-to('mobile') {
      width: 300px;
      height: 100%;
    }

    @include respond-to('tablet') {
      display: block;
      position: relative;
      border-radius: $border-radius-containers;
    }
  }

  .results {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    gap: 16px;

    .toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: map-get($colors, secondary);
      padding: 16px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      border-radius: $border-radius-containers;
      border: 1px solid $primary;
      color: $primary;

      .title {
        font-weight: bold;
      }

      .buttons {
        display: flex;
        flex-direction: row;
        gap: 16px;

        button.filters {
          @include respond-to('tablet') {
            display: none;
          }
        }
      }
    }
  }
}