<section
  aria-hidden="true"
  class="modal-overlay"
>
  <section
    class="modal-backdrop"
  ></section>
  <section
    class="modal-container"
  >
    <section
      class="modal-box"
    >
      <section>
        <section
          class="modal-header"
        >
          <h3>
            {{ modalOptions?.title }}
          </h3>
          <button
            type="button"
            class="modal-close-button"
            (click)="onClose()"
          >
            <span class="sr-only">X</span>
          </button>
        </section>
        <section class="modal-body">
          <ng-content></ng-content>
        </section>
      </section>
      <section
        class="modal-footer"
      >
        <button
          type="button"
          class="primary"
          (click)="onAccept()"
        >
          {{ modalOptions?.confirmButtonText }}
        </button>
        <button
          type="button"
          class="secondary"
          (click)="onClose()"
        >
          {{ modalOptions?.cancelButtonText }}
        </button>
      </section>
    </section>
  </section>
</section>
