@import '../../../../styles/variables';

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 228, 228);
  border-radius: $border-radius-containers;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .card-image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-description {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 5px solid $primary;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-size: 14px;
      font-style: italic;

      .title {
        width: calc(100% - 14px);
        height: 18px;
        text-transform: uppercase;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 18px;
      }

      .key {
        font-weight: bold;
        font-style: normal;
      }
    }
  }
}