<section
  class='card'
>
  <section class='card-image'>
    <article
      class='card-image'
      [style.background-image]="
        'url(' + room.image + ')'
      "
    ></article>
  </section>
  <section class='bg-secondary text-primary card-description'>
    <section class="item">
      <article class='title'>
        {{room.name}}
      </article>
      <button class="primary">Edit</button>
    </section>
    <section class="item">
      <article><span class="key">Floor:</span> {{room.floor}}</article>
    </section>
    <section class="item">
      <article>
        <span class="key">Occupancy:</span> {{ room.capacity | capacityOccupancy:room.occupancy }}
      </article>
    </section>
  </section>
</section>