@import '../../../../styles/variables';

button {
  border: none;
  border-radius: $border-radius-forms;
  padding: 6px 14px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 4 4 10px rgba(0, 0, 0, 0.1);

  &.primary {
    background-color: $primary;
    color: $secondary;

    &:hover {
      background-color: darken($primary, 50%);
    }

    &:active {
      background-color: darken($primary, 20%);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 3px rgba($primary, 0.5);
    }

    &:disabled {
      background-color: $disabled;
      color: $disabled-text;
      cursor: not-allowed;
      box-shadow: none;
    }
  }
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(228, 228, 228);
  border-radius: $border-radius-containers;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  .card-image {
    height: 150px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .card-description {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 24px;
    padding-left: 16px;
    padding-right: 16px;
    border-top: 5px solid $primary;

    .name {
      width: calc(100% - 14px);
      height: 18px;
      text-transform: uppercase;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}