@import '../../../../styles/variables';

.list {
  .card-container {
    display: grid;
    gap: 16px;

    @include respond-to('mobile-small') {
      grid-template-columns: repeat(1, 1fr);
    }

    @include respond-to('mobile') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('tablet-small') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('tablet') {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond-to('desktop-small') {
      grid-template-columns: repeat(3, 1fr);
    }

    @include respond-to('desktop') {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}