<section
  class='card'
>
  <section class='card-image'>
    <article
      class='card-image'
      [style.background-image]="
        'url(' + room.image + ')'
      "
    ></article>
    <button
      data-testid="btn-remove"
      type="button"
      class="remove-button"
      (click)="onRemove()"
    >
      <span class="sr-only">X</span>
    </button>
  </section>
  <section class='bg-secondary text-primary card-description'>
    <section class="item">
      <article data-testid="name" class='title'>
        {{room.name}}
      </article>
      <button data-testid="btn-edit" class="primary" (click)="onEdit()">Edit</button>
    </section>
    <section class="item">
      <article><span class="key">Floor:</span> {{room.floor}}</article>
    </section>
    <section class="item">
      <article>
        <span class="key">Occupancy:</span> {{ room.capacity | capacityOccupancy:room.occupancy }}
      </article>
    </section>
  </section>
</section>