<div class="container">
  <div class="panel" [ngClass]="{ 'visible': visiblePanel }">
    <app-room-panel-filter (findRoomsEmit)="setFilters($event)"/>
  </div>
  <div class="results">
    <section class="toolbar">
      <span class="title">ROOMS</span>
      <section class="buttons">
        <button class="secondary filters" (click)="visiblePanel=!visiblePanel">Filters</button>
        <button 
        class="primary new"
          (click)="openModal()"
        >New</button>
      </section>
    </section>
    <app-room-list 
      [filters]="filters"
      (openModalEmit)="openModal($event)"
    />
  </div>
</div>